/* GLOBAL */

html, body {
	margin: 0;
	padding: 0;
	color: #333;
	font-size: 25px;
	font-family: 'EB Garamond', serif;
}

a {
	color: inherit;
}


/* PAGE CONTAINER */

#page {
	padding: 2em 4em;
	max-width: 2000px;
}


/* HEADER */

#header {
	padding: 2em 1em;
}
#heading {
	font-size: 3.5em;
	margin-bottom: 1rem;
}
#subheading {
	color: #777;
	font-size: 0.8em;
}


/* GALLERY */

/* Gallery container */
#gallery {
	display: grid;
	padding: 1.5em;
	border-radius: 0.9em;
	grid-auto-rows: 10px;
	grid-auto-flow: dense;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 12px inset;
	grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
}

/* Image cards */
#gallery .image-container {
	margin: 0.5em;
	padding: 0.5em;
	overflow: hidden;
	border-radius: 0.3em;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}
#gallery .image-container .photograph {
	max-width: 100%;
	border-radius: 0.2em;
	background-color: #eee;
}
#gallery .image-container .image-caption {
	color: #555;
	margin: 1.3em 0;
	font-size: 0.5em;
	text-align: center;
	word-spacing: 0.5em;
	font-family: 'Homemade Apple', cursive;
}


/* FOOTER */

#footer {
	padding: 2em 0.7em;
	text-align: center;
}
#footer p {
	color: #777;
	font-size: 0.7em;
}


/* BREAKPOINTS */

@media only screen and (max-width: 1000px) {
	#page {
		padding: 1em 2.5em;
	}
	#gallery {
		padding: 1em;
	}
}

@media only screen and (max-width: 700px) {
	#page {
		padding: 0.5em 1.5em;
	}
	#heading {
		font-size: 11vw;
	}
	#gallery {
		padding: 0.5em;
	}
}

@media only screen and (max-width: 450px) {
	#page {
		font-size: 5.5vw;
	}
}